# Ignorer le dossier .vscode
.vscode/

# Ignorer les fichiers de configuration VS Code
*.code-workspace 

# Fichiers compilés et exécutables
*.o
*.obj
*.exe
*.out
*.app

# Fichiers de débogage
*.dSYM/
*.su
*.idb
*.pdb

# Fichiers de dépendances
*.d
*.dll
*.so
*.dylib

# Fichiers temporaires
*.swp
*~
*.tmp

# Fichiers de build
build/
dist/
cmake-build-*/

# Fichiers de configuration système
.DS_Store
Thumbs.db 